127.0.0.1 localhost
192.168.0.35 jumpbox.lvluu.me
{% for host in groups['masters'] %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['hostname'] }}
{% endfor %}

{% for host in groups['workers'] %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['hostname'] }}
{% endfor %}

{% for host in groups['lb'] %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['hostname'] }}
{% endfor %}

jumpbox.lvluu.me